extends layout

block content
    - var cat = ['Numbers', 'Times', 'Days', 'Months', 'Colors', 'Pleasantries', 'Directions', 'People', 'Misc']
    .container
        h1.text-center Edit

        .form#newform
            .row
                .col-xs-10.col-sm-6.col-md-6.col-sm-offset-3.col-md-offset-3.col-xs-offset-1
                    form(action='/'+lang.toLowerCase()+'/edit/'+article._id, method='POST')
                        .row
                            .form-group
                                label English
                                input.form-control(type='text', name='english', placeholder='English' value=article.english)
                        .row
                            .form-group
                                label= lang
                                input.form-control(type='text', name='translated', placeholder=lang value=article.translated)
                        .row
                            .form-group
                                label Category
                                select.form-control(id="selection" type='text', name='category' value=article.category)
                                    each val in cat
                                        if article.category == val
                                            option(selected='selected')= val
                                        else
                                            option= val
                        .row
                            .form-group
                                label Position
                                input.form-control(type='text', name='cat_id', placeholder='Cat ID' value=article.cat_id)
                                //- p= data
                        .row
                            input.btn.btn-red.btn-block.btn-lg(type='submit')
