extends layout

block content
    .container.container-main
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
            if currentUser
                li.active-plus
                    a(href='/new')
                        i.fa.fa-plus.fa-lg(aria-hidden="true")
            li.active(role='presentation')
                a(href='#numbers', aria-controls='home', role='tab', data-toggle='tab') Numbers
            li(role='presentation')
                a(href='#times', aria-controls='profile', role='tab', data-toggle='tab') Times
            li(role='presentation')
                a(href='#days', aria-controls='messages', role='tab', data-toggle='tab') Days
            li(role='presentation')
                a(href='#months', aria-controls='settings', role='tab', data-toggle='tab') Months
            li(role='presentation')
                a(href='#colours', aria-controls='settings', role='tab', data-toggle='tab') Colours
            li(role='presentation')
                a(href='#pleasantries', aria-controls='settings', role='tab', data-toggle='tab') Pleasantries
            li(role='presentation')
                a(href='#directions', aria-controls='settings', role='tab', data-toggle='tab') Directions
            li(role='presentation')
                a(href='#people', aria-controls='settings', role='tab', data-toggle='tab') People
            li(role='presentation')
                a(href='#misc', aria-controls='settings', role='tab', data-toggle='tab') Misc
        // Tab panes
        .tab-content
            #numbers.tab-pane.active(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category == 'Numbers'
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #times.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead                            
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Time' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #days.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Days' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #months.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Months' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #colours.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Colors' && datas.norwegian
                                    tr(class=datas.english)
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #pleasantries.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Pleasantries' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #directions.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Directions' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #people.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='People' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
            #misc.tab-pane(role='tabpanel')
                .panel.panel-default
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                if lang == 'norwegian'
                                    th English
                                    th Norwegian
                                    if currentUser
                                        th.edit Edit
                                else if lang == 'polish'
                                    th English
                                    th Polish
                                    th Phonetics
                                    if currentUser
                                        th.edit Edit
                        tbody
                            each datas, i in data
                                if datas.category =='Misc' && datas.norwegian
                                    tr
                                        if lang == 'norwegian' && datas.norwegian
                                            td= datas.english
                                            td= datas.norwegian
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")
                                        else if lang == 'polish' && datas.polish
                                            td= datas.english
                                            td= datas.polish
                                            td= datas.phonetic
                                            if currentUser
                                                td.edit-cell
                                                    a(href="/edit/"+datas._id) 
                                                        i.fa.fa-pencil-square-o.fa-lg( aria-hidden="true")